<html>
  <form action="/records" method="post">
    record <input type="text" name="record">
    ip <input type="text" name="ip">
    comment <input type="text" name="comment">
    <input type="submit">
  </form>
</html>
